body {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  background: url("circuit-pattern.png");
  background-size: cover;
  background-attachment: fixed;
  background-color: #5f086e;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3bc271;
  padding: 20px;
  color: rgba(35, 34, 34, 0.947);
}

header h1 {
  font-family: 'SEGA LOGO FONT', sans-serif;
  margin: 0;
}

#search {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.card-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      padding: 40px;
    }

    .card {
      background: rgba(26, 110, 79, 0.1);
      border-radius: 12px;
      padding: 16px;
      text-align: center;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(6px);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 18px rgba(0, 0, 0, 0.9);
    }

    .card img {
      width: 100%;
      max-width: 180px;
    }
.card h3 {
  margin: 10px 0;
  color: #00796b;
}

.card p {
  margin: 5px 0;
  color: #282626;
}
